<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awmahn.helperbot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TroubleBot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuestionsListActivity" />
        <activity android:name=".DecisionActivity" />
        <activity android:name=".TriedOnOffActivity" />
        <activity android:name=".IsItAVirusActivity" />
        <activity android:name=".HaveRunAntivirusActivity" />
        <activity android:name=".GetAntivirusActivity" />
        <activity android:name=".DoHaveAntivirusActivity" />
        <activity android:name=".PleaseRunAntivirusActivity" />
        <activity android:name=".OSForAntivirusActivity" />
        <activity android:name=".NameVirusActivity" />
        <activity android:name=".DidDetectVirusActivity" />
        <activity android:name=".DidPowerEraseActivity" />
        <activity android:name=".WantPowerEraseActivity" />
        <activity android:name=".GettingErrorCodeActivity" />
        <activity android:name=".ObtainErrorCodeActivity"></activity>
    </application>

</manifest>